body {
    font-family: sans-serif;
    width: 40%;
    margin: auto;
    /* border: 3px solid green; */
}

blockquote{
	font-style: italic;
}

h1 {
    color: #10284d;
    margin: auto;
    width: 40%;
}

/* h2 {
    color: 
} */

.parkour_intro_img {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

a:visited{
	color: rgb(0, 33, 83);
}
a:link{
	color: rgb(0, 33, 83);
}